*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #605e66;
}

::-webkit-scrollbar-thumb {
  background-color:  #62abff;;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3e96fa;
}

#mapid { 
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-style: solid;
  border-color: rgb(59, 59, 59);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.opacity {
  opacity: 0;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #000000; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 30%;
  left: 45%;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  width: 100%;
  margin: 0;
  display: block;
  border: none;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 1600px;
  height: 764px;
  padding: 30px;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.title {
  width: 100%;
  background-color: rgb(68, 68, 68);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.position {
  position: absolute;
}

.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.global {
  width: 20%;
  background-color: rgb(68, 68, 68);
  top: 90px;
  left: 1%;
  padding: 18px;
  border: 1px solid rgb(107, 107, 107);

  .global__title {
    margin-bottom: 5px;
  }

  .global__info {
    color: rgb(255, 42, 42);
  }
}

.region {
  width: 20%;
  top: 180px;
  left: 1%;
  height: 75%;
  background-color: rgb(68, 68, 68);
  padding: 20px 20px 3px 20px;
  border: 1px solid rgb(107, 107, 107);

  .region__search {

    input {
      outline: none;
      border: none;
      border: solid 1px #f2f2f2;
      margin-bottom: 10px;
    }
  }

  .region__list {
    width: 100%;
    height: 425px;
    overflow-y: scroll;
    margin-bottom: 20px;
  }

  .region__title {
    text-align: center;
    margin-bottom: 10px;
  }

  .region__item {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #605e66;
    transition: all 500ms ease;
    cursor: pointer;

    .region__img {
      margin-left: 5px;
      img {
      width: 10px;
      height: 10px;
      }
    }
    
    .region__item__quantity {
      margin-right: 15px;
      width: 60px;
      text-align: right;
    }

    .region__item__country {
      color: rgb(235, 235, 235);
      width: 130px;
    }

    .total {
      color: rgb(175, 183, 255);
    }

    .deaths {
      color: rgb(255, 64, 64);
    }

    .recovered {
      color: rgb(76, 252, 76);
    }
  }

  .region__item:hover {
    background-color: rgb(90, 90, 90);
  }

  .region__btn {
    display: flex;

    .region__btn__item {
      border: 1px solid #333;
      margin-left: 1px;
      padding: 10px;
      transition: all 500ms ease;
      cursor: pointer;
    }

    .region__btn__item:hover {
      background-color: rgb(116, 108, 108);
    }

    .region__active {
      border-bottom: 1px solid #62abff;
    }
  }
}

.maps {
  width: 40%;
  height: 86.7%;
  background-color: #444;
  top: 90px;
  left: 22%;
  border: 1px solid rgb(107, 107, 107);
}

.static {
  width: 36%;
  background-color: rgb(68, 68, 68);
  top: 90px;
  right: 1%;
  padding: 18px;
  border: 1px solid rgb(107, 107, 107);

  .tbodys {
    height: 172px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }

  .table {

    th {
      border: 1px solid rgb(112, 112, 112);
      padding: 10px;
      width: 140px;
      font-size: 20px;
      color: #ebebeb;
    }

    td {
      border: 1px solid rgb(112, 112, 112);
      padding: 10px;
      width: 140px; 
      text-align: center;
    }
  }

  .static__btn {
    display: flex;
    flex-direction: column;

    .static__btn__item {
      border: 1px solid #333;
      margin-left: 1px;
      padding: 10px;
      margin: 5px;
      transition: all .5s ease;
      cursor: pointer;
      width: 190px;
      text-align: center;
    }

    .static__btn__item:hover {
      background-color: rgb(116, 108, 108);
    }

    .static__active__day, .static__active__absolute {
      border-bottom: 1px solid #62abff;
    }

    .day {
      display: flex;
    }

    .absolute {
      display: flex;
    }
  }
}

.diogramm {
  width: 36%;
  background-color: #444;
  top: 54%;
  right: 1%;
  padding: 18px;
  border: 1px solid #6b6b6b;

  iframe {
    width: 500px;
    height: 300px;
  }
}



