* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(34, 34, 34);
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 6rem auto 0;
    width: 1400px;
    height: 600px; 
}

:root {
    font-size: 10px;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(104, 104, 104);
    text-shadow: 3px 3px rgb(175, 175, 175);
}

#mapid { 
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-style: solid;
    border-color: rgb(59, 59, 59);
}

.table_box {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.main__table {
    margin-top: 5%;
    padding-top: 10px;
    padding-left: 10px;
    width: 90%;
    height: 90%;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    overflow: hidden;
    overflow-y: scroll;
}

.table-item {
    cursor: pointer;
}

#table_case {
    font-weight: 900;
    color:#707070;
}

li:hover {
    background-color: rgb(58, 58, 58);
}

.button_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 10%;
}

button {
    width: 25%;
    cursor: pointer;
}